.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.doctors-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}

.doctors-table thead {
    background-color: #333;
    color: white;
}

.doctors-table th, 
.doctors-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.doctors-table tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}

.fa-edit {
    margin-right: 10px;
}

.action-btn{
    margin-left: 15px;
}

.fa-trash-alt:hover {
    cursor: pointer;
}